 


<header class="main-header" id="header">
  <div class="bg-color">
    <div class="container text-center">
      <div class="wrapper wow fadeInUp delay-05s">
        <br/>
        <h4 class="title">gatitoS</h4>
        <div class= "agregar-gatitos">
            <a href="https://www.dl.dropboxusercontent.com/s/ca0r0w22ia15j33/modelo.xls" download>
              <button class="btn btn-send">Formulario</button>
            </a>
            <br/>
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="col-xs-8">
                    <label for="gatitoNombre">Nombre:</label>
                    <br/>
                    <input type="text"  class="form-control nes-input" name="gatitoNombre" id="gatitoNombre" required
                        [(ngModel)]="gatito.nombre" name="gatitoNombre">
                    <br/>
                    <label for="gatitoEdad">Edad:</label>
                    <br/>
          
                    <input type="text"  class="form-control nes-input" name="gatitoEdad" id="gatitoEdad" required
                        [(ngModel)]="gatito.edad" name="gatitoEdad">
                    <br/>
          
                    <label for="gatitoNivelMaldad">Nivel de maldad:</label>
                    <br/>
          
                    <input type="text"  class="form-control nes-input" name="gatitoNivelMaldad" id="gatitonivel_maldad" required
                        [(ngModel)]="gatito.nivel_maldad" name="gatitoNivelMaldad">
                    <br/>
          
                    <label for="gatitoRaza">Raza:</label>
                    <br/>
          
          
                    <input type="text"  class="form-control nes-input" name="gatitoRaza" id="gatitoRaza" required
                            [(ngModel)]="gatito.raza" name="gatitoRaza">
                   <br/>
          
                    <label for="gatitoComidaFavorita">Comida favorita</label>
                    <br/>

                    <input type="text"  class="form-control nes-input" name="gatitoComidaFavorita" id="gatitocomida_favorita" required
                            [(ngModel)]="gatito.comidad_favorita" name="gatitoComidaFavorita">
                    <br/>


                    <label for="file">Subir archivo</label>
                    <input type="file"
                     id="file" class="form-control nes-input"
                     (change)="handleFileInput($event.target.files)">
          
                </div>
                <div>
                  <br>
                <input type="submit" class="nes-btn is-primary" value="Registrar" />
                </div>
            </div>
          </form>
          </div>      </div>
    </div>
  </div>
</header>
