



<header class="main-header" id="header">
  <div class="bg-color">
    <div class="container text-center">
      <div class="wrapper wow fadeInUp delay-05s">
        <br/>
        <h4 class="title">PERRITOS</h4>
           </div>
    </div>
  </div>
</header>
<div class="panel panel-default" style="margin-top:10px;">
  <div class="nes-container with-title spaced">
    <div class="perritos" *ngFor="let row of rows">
      <p class="row">Nombre: {{ row.nombre }}</p>
      <p class="row">Edad: {{ row.edad }}</p>
      <p class="row">Descripcion: {{ row.descripcion }}</p>
      <p class="row">Raza: {{ row.raza }}</p>
      <p class="row">Color: {{ row.color }}</p>
      <button (click)="delete(row['id'])">Borrar</button>
      <button  (click)="update(row['id'])">Editar</button>
    </div>
  </div>
  <div class="agregar-perrito">
   <button> <a class="agregar" [routerLink]="['/perritos/add']">Agregar perrito</a></button>
  </div>

</div>
