<header class="main-header" id="header">
  <div class="bg-color">
    <div class="container text-center">
      <div class="wrapper wow fadeInUp delay-05s">
        <br/>
        <h4 class="title">Registrarse</h4>
        <div class= "agregar-perritos">
          <form (ngSubmit)="onSubmitSign()">
            <div class="form-group">
                <div class="col-xs-8">
                    <label for="login">Email:</label>
                    <br/>
          
                    <input type="text" class="form-control nes-input" name="login" id="login" required
                        [(ngModel)]="signUpUser.login" name="login" class="validate">
                    <br/>

                    <label for="name">Name:</label>
                    <br/>
          
                    <input type="text" class="form-control nes-input" name="name" id="name" required
                        [(ngModel)]="signUpUser.name" name="name">
                    <br/>

                    <label for="nickname">Nickname:</label>
                    <br/>
          
                    <input type="text" class="form-control nes-input" name="nickname" id="nickname" required
                        [(ngModel)]="signUpUser.nickname" name="nickname">
                    <br/>

                    <label for="password">Password:</label>
                    <br/>
          
                    <input type="text" class="form-control nes-input" name="password" id="password" required
                        [(ngModel)]="signUpUser.password" name="password">
                    <br/>
          
                    <label for="password_confirmation">Confirm password:</label>
                    <br/>
          
                    <input type="text" class="form-control nes-input" name="password_confirmation" id="password_confirmation" required
                        [(ngModel)]="signUpUser.passwordConfirmation" name="password_confirmation">
                    <br/>

        
          
                </div>
                <div>
                  <br>
                <input type="submit" class="nes-btn is-primary" value="Registrar" />
                </div>
            </div>
          </form>
          </div>      </div>
    </div>
  </div>
</header>